:root {
    /* Mobile */
    --blog-one-item-grid-outer-template-columns: 1fr;
    --blog-one-item-grid-outer-column: auto / span 3;
    --blog-one-grid-gap: 30px;
    --blog-one-image-height: 200px;
    --blog-item-1-grid-column: auto;
    --blog-item-1-grid-row: auto;
    --blog-item-1-image-height: var(--blog-one-image-height);
    --blog-one-side-grid-outer-column: auto / span 3;
    --blog-one-item-date-bg: linear-gradient(127deg, var(--logo-darkest) 0%, var(--logo-lightest) 91%);
    --blog-individual-banner-grid-column: auto / span 3;
    --blog-individual-banner-grid-row: auto;
    --blog-table-content-border-color: var(--color-border-light);
    --blog-individual-table-content-grid-column: auto / span 3;
    /* Code format */
    --code-comment: #6A9955;
    --code-string: #D78F54;
    --code-flow: #D4D4D4;
    --code-css-class: #D8C27B;
    --code-css-key: #8FD8FF;
    --code-xml-tag: #5090D7;
    --code-method: #D9D673;
    --code-code-control: #D66BBF;
    --code-code-class: #00D4B3;
    --code-code-standard: #8FD8FF;
    --code-number: #8DD9A5;
}

@media (prefers-color-scheme: dark) {
     :root {
        /* Dark mode */
        --blog-table-content-border-color: var(--color-border-dark);
        /* Code format */
        --code-comment: #008000;
        --code-string: #2E4BD5;
        --code-flow: #010007;
        --code-css-class: #BC0000;
        --code-css-key: #FF0000;
        --code-xml-tag: #9E0000;
        --code-method: #8F5F37;
        --code-code-control: #DE00DA;
        --code-code-class: #3579A6;
        --code-code-standard: #3E00AB;
        --code-number: #00925B;
    }
}

@media only screen and (min-width: 700px) {
     :root {
        --blog-one-item-grid-outer-template-columns: 1fr 1fr;
        --blog-one-item-grid-outer-column: auto / span 3;
        --blog-item-1-grid-column: auto / span 2;
        --blog-item-1-grid-row: auto;
        --blog-item-1-image-height: calc(2 * var(--blog-one-image-height));
        --blog-one-side-grid-outer-column: auto / span 3;
        --blog-individual-banner-grid-column: auto / span 3;
        --blog-individual-banner-grid-row: auto;
        --blog-individual-table-content-grid-column: auto / span 3;
    }
}

@media only screen and (min-width: 1100px) {
     :root {
        --blog-one-item-grid-outer-template-columns: 1fr 1fr;
        --blog-one-item-grid-outer-column: auto / span 2;
        --blog-item-1-grid-column: auto / span 2;
        --blog-item-1-grid-row: auto / span 2;
        --blog-item-1-image-height: calc(2 * var(--blog-one-image-height));
        --blog-one-side-grid-outer-column: auto;
        --blog-individual-banner-grid-column: auto / span 2;
        --blog-individual-banner-grid-row: auto;
        --blog-individual-table-content-grid-column: auto;
    }
}

div.blog-one-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

div.blog-one-item-grid-outer {
    display: grid;
    grid-template-columns: var(--blog-one-item-grid-outer-template-columns);
    grid-column: var(--blog-one-item-grid-outer-column);
    grid-gap: 30px;
}

div.blog-one-item-grid {
    display: grid;
    grid-gap: 15px;
    cursor: pointer;
}

.blog-one-item-grid.item-1 {
    grid-column: var(--blog-item-1-grid-column);
    grid-row: var(--blog-item-1-grid-row);
}

div.blog-one-item-image {
    width: 100%;
    height: var(--blog-one-image-height);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    border-bottom-right-radius: 4px;
}

div.blog-one-item-date {
    display: grid;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    background-image: var(--blog-one-item-date-bg);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}

div.blog-one-item-date-inner {
    justify-self: center;
    align-self: center;
    color: var(--color-bg-1);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.blog-one-item-image.item-1 {
    height: var(--blog-item-1-image-height);
}

div.blog-one-item-title {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-title-1);
    letter-spacing: 1px;
    line-height: 26px;
}

div.blog-one-item-desc {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text-1);
    letter-spacing: 0.88px;
    line-height: 26px;
}

.general-button.blog-detail {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

div.blog-one-side-grid-outer {
    grid-column: var(--blog-one-side-grid-outer-column);
}

div.blog-one-contact-outer {
    padding: 30px;
    border-radius: 4px;
    background-image: linear-gradient(127deg, var(--logo-darkest) 0%, var(--logo-lightest) 91%);
    color: var(--color-bg-1);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.7px;
}

div.blog-one-contact-text {
    margin-bottom: 23px !important;
}

.general-button.blog-contact {
    margin-left: auto;
    margin-right: auto;
}

div.blog-individual-grid-content {
    display: grid;
    grid-column: var(--blog-one-item-grid-outer-column);
    grid-gap: 15px;
}

div.blog-individual-banner {
    position: relative;
    width: 100%;
    height: calc(2 * var(--blog-one-image-height));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    border-bottom-right-radius: 4px;
    margin-bottom: 30px;
    grid-column: var(--blog-individual-banner-grid-column);
    grid-row: var(--blog-individual-banner-grid-row);
}

div.blog-one-table-content-grid {
    position: relative;
    display: grid;
    grid-template-columns: 60px 1fr;
    border: 1px solid;
    border-color: var(--blog-table-content-border-color);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 30px;
    color: var(--color-title-1);
    font-size: 14px;
    letter-spacing: 0.88px;
    line-height: 60px;
    font-weight: 700;
    align-content: space-between;
    grid-column: var(--blog-individual-table-content-grid-column);
}

div.blog-one-table-content-bullet {
    text-align: center;
}

div.blog-one-table-content-title {
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.blog-one-table-content-title:hover {
    padding-left: 12px;
}

div.blog-individual-title {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-title-1);
    letter-spacing: 1px;
    line-height: 26px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
}

div.blog-individual-title-anchor {
    position: absolute;
    top: -110px;
}

div.blog-individual-title-back-to-top {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    align-self: end;
    margin-left: 16px;
    height: 100%;
    color: var(--logo-darkest);
}

.blog-individual-title-back-to-top:hover {
    text-decoration: underline;
}

div.blog-individual-text {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text-1);
    letter-spacing: 0.88px;
    line-height: 26px;
    text-align: justify;
}

.blog-individual-text>a {
    color: var(--color-link);
}

.blog-individual-code {
    background-color: var(--color-bg-2);
    font-size: 14px;
    padding: var(--space-standard);
    padding-bottom: 0px;
    user-select: text;
    border-radius: 4px;
    font-family: monospace;
    overflow: auto;
    box-sizing: border-box;
    white-space: nowrap;
}

div.blog-individual-image {
    display: grid;
    grid-template-rows: auto auto;
    margin-top: var(--space-standard);
    margin-bottom: var(--space-standard);
    grid-row-gap: var(--space-standard);
}

img.blog-individual-image-inner {
    cursor: pointer;
    width: 100%;
    justify-self: center;
    border: 1px solid;
    box-sizing: border-box;
    border-color: var(--blog-table-content-border-color);
    padding: 4px;
    border-radius: 4px;
}

div.blog-individual-image-caption {
    font-size: 14px;
    color: var(--color-text-1);
    text-align: center;
    font-style: italic;
}

div.code-outer {
    overflow: auto;
    padding-bottom: 15px;
    color: var(--code-code-standard);
}

span.code-string {
    color: var(--code-string);
}

span.code-css-class {
    color: var(--code-css-class);
}

span.code-css-key {
    color: var(--code-css-key);
}

span.code-flow {
    color: var(--code-flow);
}

span.code-indent {
    display: inline-block;
    width: 20px;
}

span.code-tag {
    color: var(--code-xml-tag);
}

span.code-method {
    color: var(--code-method);
}

span.code-code-control {
    color: var(--code-code-control);
}

span.code-code-class {
    color: var(--code-code-class);
}

span.code-number {
    color: var(--code-number);
}

span.code-code-control-1 {
    color: var(--code-xml-tag);
}