@font-face {
    /* quicksand-regular - latin-ext_latin_vietnamese */
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    src: url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-regular.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-regular.woff") format("woff"), /* Modern Browsers */
    url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-regular.svg#Quicksand") format("svg");
    /* Legacy iOS */
}

@font-face {
    /* quicksand-700 - latin-ext_latin_vietnamese */
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    src: url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-700.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-700.woff2") format("woff2"), /* Super Modern Browsers */
    url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-700.woff") format("woff"), /* Modern Browsers */
    url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-700.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../res/font/Quicksand/quicksand-v15-latin-ext_latin_vietnamese-700.svg#Quicksand") format("svg");
    /* Legacy iOS */
}

:root {
    /* Common */
    --color-blue: #4886FF;
    --color-neutral: #6F8BA4;
    --color-neutral-dark: #3B566E;
    --color-bright: #FFFFFF;
    --color-dark: #121212;
    --color-bright-dark-mode: #FFFFFFDD;
    --color-grey-light: #f5f5f5;
    --color-grey-dark: #333333;
    --color-yellow-dark: #f58300;
    --color-dark-lighter: #2C2C2C;
    --color-bright-darker: #F4F8FB;
    --color-border-light: #DAE6FD;
    --color-border-dark: #444444;
    --space-standard: 16px;
    --content-max-width: 1140px;
    --general-box-shadow-dark: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --general-box-shadow-light: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    --general-button-width: 225px;
    --general-icon-service-size: 26px;
    /* Mobile */
    --loading-initial-image-landscape-display: none;
    --loading-initial-image-portrait-display: block;
    --content-grid-max-width: 90%;
    --content-grid-padding: 0px;
    /* Mobile Light mode */
    --color-bg-1: var(--color-bright);
    --color-text-1: var(--color-neutral);
    --color-text-2: var(--color-bright);
    --color-button-1: var(--color-blue);
    --color-button-2: var(--color-bright);
    --logo-darkest: var(--color-blue);
    --logo-lightest: #24CDFF;
    --loading-initial-disclaimer-light-display: block;
    --loading-initial-disclaimer-dark-display: none;
}

@media (prefers-color-scheme: dark) {
     :root {
        /* Mobile Dark mode */
        --color-bg-1: var(--color-dark);
        --color-text-1: var(--color-bright-dark-mode);
        --color-text-2: var(--color-dark);
        --color-button-1: var(--color-yellow-dark);
        --color-button-2: var(--color-dark);
        --logo-darkest: var(--color-yellow-dark);
        --logo-lightest: #FFD500;
        --loading-initial-disclaimer-light-display: none;
        --loading-initial-disclaimer-dark-display: block;
    }
}

@media only screen and (max-width: 450px) {
     :root {
        /* Mobile small screen */
        --content-grid-max-width: 100%;
        --content-grid-padding: var(--space-standard);
    }
}

@media only screen and (min-width: 1140px) {
     :root {
        /* Desktop */
        --content-grid-max-width: var(--content-max-width);
        --content-grid-padding: calc(2 * var(--space-standard));
    }
    @media (prefers-color-scheme: light) {
         :root {
            /* Desktop Light mode */
            --temp: white;
        }
    }
    @media (prefers-color-scheme: dark) {
         :root {
            /* Desktop Dark mode */
            --temp: white;
        }
    }
}

html {
    height: 100vh;
    touch-action: manipulation;
    outline: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Quicksand", sans-serif;
}

html,
body {
    height: 100vh;
    outline: 0;
    padding: 0;
    margin: 0;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--color-text-1);
    background-color: var(--color-bg-1);
    font-family: "Quicksand", sans-serif;
}

p {
    margin: 0px;
}

div.loading-initial {
    height: 100%;
    background-image: linear-gradient(135deg, var(--logo-darkest) 0%, var(--logo-lightest) 100%);
    display: grid;
    grid-template-rows: 1fr 50px;
}

div.loading-initial-image {
    justify-self: center;
    align-self: center;
    width: 100px;
    height: 100px;
}

.loading-initial-image.landscape {
    display: var(--loading-initial-image-landscape-display);
}

.loading-initial-image.portrait {
    display: var(--loading-initial-image-portrait-display);
}

.loading-initial-image>svg {
    width: 100%;
    height: 100%;
}

div.loading-initial-disclaimer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.loading-initial-disclaimer.light {
    display: var(--loading-initial-disclaimer-light-display);
}

.loading-initial-disclaimer.dark {
    display: var(--loading-initial-disclaimer-dark-display);
}

div.general-content-outer {
    width: 100%;
    position: absolute;
}

div.general-content-grid {
    max-width: var(--content-grid-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--content-grid-padding);
    padding-right: var(--content-grid-padding);
}

div.general-button {
    display: block;
    width: var(--general-button-width);
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.81px;
    color: var(--color-button-1);
    border: 2px solid;
    border-color: var(--color-button-1);
    border-radius: 100px;
    text-align: center;
    box-sizing: content-box;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.general-button:hover {
    background-color: var(--color-button-1);
    border-color: var(--color-button-1);
    color: var(--color-button-2);
}

.general-button.inverted {
    color: var(--color-button-2);
    border-color: var(--color-button-2);
}

.general-button.inverted:hover {
    background-color: var(--color-button-1);
    border-color: var(--color-button-1);
}

stop.hsc-stop-1 {
    stop-color: var(--logo-darkest);
}

stop.hsc-stop-2 {
    stop-color: var(--logo-lightest);
}