:root {
    /* Common */
    --home-banner-height: 637px;
    --home-one-grid-margin-bottom: 30px;
    --home-two-item-margin-top-default: 30px;
    --home-two-item-margin-top-first: 70px;
    /* Mobile */
    --home-one-grid-inner-template-columns: 1fr;
    --home-two-grid-outer-template-columns: 1fr 1fr;
    --home-two-item-width: 330px;
    --home-two-item-height: 210px;
    --home-two-grid-outer-margin-top: 0px;
    --home-button-align-diff: auto;
    --home-one-grid-outer-height: var(--home-banner-height);
    --home-one-grid-outer-margin-botom: 0px;
    /* Mobile Light mode */
    --home-banner-overlay-color: linear-gradient(90deg, #384EFFD8 0%, #24CDFFD8 100%);
    --home-one-grid-inner-padding-top: 100px;
    --home-one-grid-icon-size: 75px;
    --home-one-grid-icon-hover-margin-bottom: 10px;
    --home-one-grid-icon-grid-row: 3;
    --home-one-grid-icon-grid-row-gap: calc(var(--home-one-grid-icon-size) + var(--home-one-grid-icon-hover-margin-bottom));
    --home-one-grid-icon-justify-items: center;
    --home-color-title: var(--color-neutral-dark);
    --home-color-text: var(--color-neutral);
    --home-color-text-alt: var(--color-bright);
    --home-two-item-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    --home-two-text-grid-column: auto / span 2;
    --home-two-item-first-margin-top: var(--home-two-item-margin-top-default);
}

@media only screen and (max-width: 320px) {
     :root {
        /* Mobile small screen */
        --home-one-grid-outer-height: auto;
        --home-one-grid-outer-margin-botom: var(--home-one-grid-margin-bottom);
    }
}

@media only screen and (max-width: 450px) {
     :root {
        /* Mobile small screen */
        --home-one-grid-icon-size: 15vw;
        --home-two-grid-outer-template-columns: 1fr;
        --home-two-item-width: auto;
        --home-two-item-height: auto;
        --home-two-text-grid-column: auto;
        --home-button-align-diff: auto;
    }
}

@media only screen and (max-width: 860px) {
     :root {
        /* Mobile small screen */
        --home-two-grid-outer-template-columns: 1fr;
        --home-two-item-width: auto;
        --home-two-item-height: auto;
        --home-two-text-grid-column: auto;
        --home-button-align-diff: auto;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1139px) {
     :root {
        /* Mobile small screen */
        --home-two-grid-outer-template-columns: 1fr auto auto;
        --home-two-item-width: 210px;
        --home-two-item-height: 288px;
        --home-two-text-grid-column: auto;
        --home-two-item-first-margin-top: var(--home-two-item-margin-top-first);
        --home-button-align-diff: none;
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        /* Mobile Dark mode */
        --home-banner-overlay-color: linear-gradient(90deg, #FB7D2FD8 0%, #FBE11CD8 100%);
        --home-color-title: var(--color-bright);
        --home-color-text: var(--color-bright-dark-mode);
        --home-color-text-alt: var(--color-dark);
        --home-two-item-box-shadow: 0 2px 48px 0 rgba(122, 122, 122, 0.2);
    }
}

@media only screen and (min-width: 1140px) {
     :root {
        /* Desktop */
        --home-one-grid-inner-template-columns: 50% 1fr;
        --home-one-grid-inner-padding-top: 0px;
        --home-one-grid-icon-grid-row: auto / span 3;
        --home-one-grid-icon-justify-items: end;
        --home-two-grid-outer-template-columns: 1fr auto auto;
        --home-two-item-width: 255px;
        --home-two-item-height: 262px;
        --home-two-grid-outer-margin-top: -100px;
        --home-two-text-grid-column: auto;
        --home-two-item-first-margin-top: var(--home-two-item-margin-top-first);
        --home-button-align-diff: none;
    }
    @media (prefers-color-scheme: light) {
         :root {
            /* DesktopLight mode */
            --temp: white;
        }
    }
    @media (prefers-color-scheme: dark) {
         :root {
            /* Desktop Dark mode */
            --temp: white;
        }
    }
}

.general-button.align-diff {
    margin-left: var(--home-button-align-diff);
    margin-right: var(--home-button-align-diff);
}

div.home-banner {
    width: 100%;
    height: var(--home-banner-height);
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.home-banner-color-overlay {
    width: 100%;
    height: 100%;
    background-image: var(--home-banner-overlay-color);
}

svg.home-banner-image-overlay {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    /* -1px to cover up the last line of the bg image */
    bottom: -1px;
}

div.one-grid-outer {
    height: var(--home-one-grid-outer-height);
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: var(--home-one-grid-outer-margin-botom);
}

div.one-grid-inner {
    width: 100%;
    display: grid;
    grid-template-columns: var(--home-one-grid-inner-template-columns);
    align-self: center;
    padding-top: var(--home-one-grid-inner-padding-top);
}

div.one-title {
    color: var(--color-text-2);
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 1.4px;
    margin-bottom: var(--home-one-grid-margin-bottom);
}

div.one-grid-icon {
    grid-row: var(--home-one-grid-icon-grid-row);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: var(--home-one-grid-icon-grid-row-gap) var(--home-one-grid-icon-grid-row-gap);
    align-self: center;
    grid-row-gap: var(--space-standard);
    justify-items: var(--home-one-grid-icon-justify-items);
    align-items: end;
    padding-right: var(--space-standard);
    padding-left: var(--space-standard);
}

div.one-text {
    color: var(--color-text-2);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    left: 0.53px;
    margin-bottom: var(--home-one-grid-margin-bottom);
    text-align: justify;
}

div.one-icon {
    width: var(--home-one-grid-icon-size);
    height: var(--home-one-grid-icon-size);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    transition: margin-bottom 200ms ease-in;
}

.one-icon:hover {
    margin-bottom: var(--home-one-grid-icon-hover-margin-bottom);
}

div.two-grid-outer {
    display: grid;
    grid-template-columns: var(--home-two-grid-outer-template-columns);
    margin-top: var(--home-two-grid-outer-margin-top);
}

div.two-text-grid-outer {
    display: grid;
    grid-template-columns: 1fr;
    align-self: end;
    grid-column: var(--home-two-text-grid-column);
}

div.home-two-title {
    font-weight: 400;
    font-size: 28px;
    color: var(--home-color-title);
    letter-spacing: 1.75px;
    line-height: 42px;
    margin-bottom: 20px;
}

div.home-two-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--home-color-text);
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: var(--home-one-grid-margin-bottom);
}

div.home-two-column {
    display: block;
    padding-left: var(--space-standard);
    padding-right: var(--space-standard);
}

div.home-two-item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--home-color-title);
    margin-bottom: 23px;
    letter-spacing: 0.7px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

div.home-two-item-text {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 0px !important;
}

div.home-two-item {
    width: var(--home-two-item-width);
    height: var(--home-two-item-height);
    display: block;
    background-image: linear-gradient(127deg, var(--color-bg-1) 0%, var(--color-bg-1) 91%);
    box-shadow: var(--home-two-item-box-shadow);
    font-weight: 400;
    font-size: 14px;
    color: var(--home-color-text);
    line-height: 26px;
    letter-spacing: 0.88px;
    padding: 30px;
    border-radius: 40px;
    border-bottom-right-radius: 4px;
    margin-top: var(--home-two-item-margin-top-default);
    box-sizing: border-box;
    cursor: pointer;
}

.home-two-item.highlighted {
    background-image: linear-gradient(127deg, var(--logo-darkest) 0%, var(--logo-lightest) 91%);
    color: var(--color-bg-1);
}

.home-two-item.highlighted .home-two-item-title {
    color: var(--color-bg-1);
}

.home-two-item.highlighted>svg>defs>linearGradient>stop {
    stop-color: var(--color-bg-1);
}

.home-two-item.first {
    margin-top: var(--home-two-item-first-margin-top);
}

svg.home-two-item-icon {
    width: var(--general-icon-service-size);
    height: var(--general-icon-service-size);
    margin-bottom: 23px;
}

.home-two-item.dummy:hover {
    background-image: linear-gradient(127deg, var(--logo-darkest) 0%, var(--logo-lightest) 91%);
    color: var(--color-bg-1);
}

.home-two-item.dummy:hover .home-two-item-title {
    color: var(--color-bg-1);
}

.home-two-item.dummy:hover .hsc-stop-1 {
    stop-color: var(--color-bg-1);
}

.home-two-item.dummy:hover .hsc-stop-2 {
    stop-color: var(--color-bg-1);
}