:root {
    /* Common */
    --home-banner-height: 637px;
    --home-one-grid-margin-bottom: 30px;
    --home-two-item-margin-top-default: 30px;
    --home-two-item-margin-top-first: 70px;
    /* Mobile */
    --home-one-grid-inner-template-columns: 1fr;
    --home-two-grid-outer-template-columns: 1fr 1fr;
    --home-two-item-width: 330px;
    --home-two-item-height: 210px;
    --home-two-grid-outer-margin-top: 0px;
    --home-button-align-diff: auto;
    --home-one-grid-outer-height: var(--home-banner-height);
    --home-one-grid-outer-margin-botom: 0px;
    /* Mobile Light mode */
    --home-banner-overlay-color: linear-gradient(90deg, #384EFFD8 0%, #24CDFFD8 100%);
    --home-one-grid-inner-padding-top: 100px;
    --home-one-grid-icon-size: 75px;
    --home-one-grid-icon-hover-margin-bottom: 10px;
    --home-one-grid-icon-grid-row: 3;
    --home-one-grid-icon-grid-row-gap: calc(var(--home-one-grid-icon-size) + var(--home-one-grid-icon-hover-margin-bottom));
    --home-one-grid-icon-justify-items: center;
    --home-color-title: var(--color-neutral-dark);
    --home-color-text: var(--color-neutral);
    --home-color-text-alt: var(--color-bright);
    --home-two-item-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    --home-two-text-grid-column: auto / span 2;
    --home-two-item-first-margin-top: var(--home-two-item-margin-top-default);
    --home-three-grid-outer-template-columns: 1fr;
    --home-three-image-width: 432px;
    --home-three-image-grid-row: auto;
    --home-three-color-background: var(--color-bright-darker);
    --home-three-grid-item-margin-left: 0px;
    --home-four-grid-template-columns: 1fr 1fr;
    --home-four-text-grid-column: auto / span 2;
    --home-four-grid-item-width: 330px;
    --home-five-overlay: linear-gradient(127deg, #384EFFD8 0%, #24CDFFD8 91%);
    --home-five-grid-template-columns: 1fr 1fr;
    --home-five-grid-template-rows: 260px 260px;
    --home-five-grid-item-template-rows: 40px auto 40px;
    --home-five-grid-item-template-rows-last: 40px auto 40px;
}

@media only screen and (max-width: 860px) {
     :root {
        /* Mobile small screen */
        --home-two-grid-outer-template-columns: 1fr;
        --home-two-item-width: auto;
        --home-two-item-height: auto;
        --home-two-text-grid-column: auto;
        --home-four-grid-item-width: 270px;
    }
}

@media only screen and (max-width: 620px) {
     :root {
        /* Mobile small screen */
        --home-four-grid-template-columns: 1fr;
        --home-four-text-grid-column: auto;
        --home-four-grid-item-width: 100%;
    }
}

@media only screen and (max-width: 450px) {
     :root {
        /* Mobile small screen */
        --home-one-grid-icon-size: 15vw;
        --home-three-grid-outer-template-columns: 1fr;
        --home-three-image-width: 100%;
        --home-three-image-grid-row: auto;
        --home-five-grid-template-columns: 1fr;
        --home-five-grid-template-rows: 210px 210px 210px 240px;
        --home-five-grid-item-template-rows: 30px auto 0px;
        --home-five-grid-item-template-rows-last: 30px auto 30px;
    }
}

@media only screen and (max-width: 320px) {
     :root {
        /* Mobile small screen */
        --home-one-grid-outer-height: auto;
        --home-one-grid-outer-margin-botom: var(--home-one-grid-margin-bottom);
        --home-five-grid-item-template-rows-last: 30px auto 30px;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1139px) {
     :root {
        /* Mobile small screen */
        --home-two-grid-outer-template-columns: 1fr auto auto;
        --home-two-item-width: 210px;
        --home-two-item-height: 288px;
        --home-two-text-grid-column: auto;
        --home-two-item-first-margin-top: var(--home-two-item-margin-top-first);
        --home-button-align-diff: none;
        --home-three-grid-outer-template-columns: auto 1fr;
        --home-three-image-width: 340px;
        --home-three-image-grid-row: auto / span 5;
        --home-three-grid-item-margin-left: 30px;
        --home-four-grid-template-columns: 1fr 1fr 1fr 1fr;
        --home-four-text-grid-column: auto / span 4;
        --home-four-grid-item-width: 210px;
        --home-five-grid-template-columns: 1fr 1fr 1fr 1fr;
        --home-five-grid-template-rows: 280px;
        --home-five-grid-item-template-rows: 50px auto 50px;
        --home-five-grid-item-template-rows-last: 50px auto 50px;
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        /* Mobile Dark mode */
        --home-banner-overlay-color: linear-gradient(90deg, #FB7D2FD8 0%, #FBE11CD8 100%);
        --home-color-title: var(--color-bright);
        --home-color-text: var(--color-bright-dark-mode);
        --home-color-text-alt: var(--color-dark);
        --home-two-item-box-shadow: 0 2px 48px 0 rgba(122, 122, 122, 0.2);
        --home-three-color-background: var(--color-dark-lighter);
        --home-five-overlay: linear-gradient(127deg, #FB7D2FD8 0%, #FBE11CD8 91%);
    }
}

@media only screen and (min-width: 1140px) {
     :root {
        /* Desktop */
        --home-one-grid-inner-template-columns: 50% 1fr;
        --home-one-grid-inner-padding-top: 0px;
        --home-one-grid-icon-grid-row: auto / span 3;
        --home-one-grid-icon-justify-items: end;
        --home-two-grid-outer-template-columns: 1fr auto auto;
        --home-two-item-width: 255px;
        --home-two-item-height: 262px;
        --home-two-grid-outer-margin-top: -100px;
        --home-two-text-grid-column: auto;
        --home-two-item-first-margin-top: var(--home-two-item-margin-top-first);
        --home-button-align-diff: none;
        --home-three-grid-outer-template-columns: auto 1fr;
        --home-three-image-width: 432px;
        --home-three-image-grid-row: auto / span 5;
        --home-three-grid-item-margin-left: 30px;
        --home-four-grid-template-columns: 1fr 1fr 1fr 1fr;
        --home-four-text-grid-column: auto / span 4;
        --home-four-grid-item-width: 225px;
        --home-five-grid-template-columns: 1fr 1fr 1fr 1fr;
        --home-five-grid-template-rows: 280px;
        --home-five-grid-item-template-rows: 50px auto 50px;
        --home-five-grid-item-template-rows-last: 50px auto 50px;
    }
    @media (prefers-color-scheme: light) {
         :root {
            /* DesktopLight mode */
            --temp: white;
        }
    }
    @media (prefers-color-scheme: dark) {
         :root {
            /* Desktop Dark mode */
            --temp: white;
        }
    }
}

.general-button.align-diff {
    margin-left: var(--home-button-align-diff);
    margin-right: var(--home-button-align-diff);
}

div.home-banner {
    width: 100%;
    height: var(--home-banner-height);
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.home-banner-color-overlay {
    width: 100%;
    height: 100%;
    background-image: var(--home-banner-overlay-color);
}

svg.home-banner-image-overlay {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    /* -1px to cover up the last line of the bg image */
    bottom: -1px;
}

div.one-grid-outer {
    height: var(--home-one-grid-outer-height);
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: var(--home-one-grid-outer-margin-botom);
}

div.one-grid-inner {
    width: 100%;
    display: grid;
    grid-template-columns: var(--home-one-grid-inner-template-columns);
    align-self: center;
    padding-top: var(--home-one-grid-inner-padding-top);
}

div.one-title {
    color: var(--color-text-2);
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 1.4px;
    margin-bottom: var(--home-one-grid-margin-bottom);
}

div.one-grid-icon {
    grid-row: var(--home-one-grid-icon-grid-row);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: var(--home-one-grid-icon-grid-row-gap) var(--home-one-grid-icon-grid-row-gap);
    align-self: center;
    grid-row-gap: var(--space-standard);
    justify-items: var(--home-one-grid-icon-justify-items);
    align-items: end;
    padding-right: var(--space-standard);
    padding-left: var(--space-standard);
}

div.one-text {
    color: var(--color-text-2);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    left: 0.53px;
    margin-bottom: var(--home-one-grid-margin-bottom);
    text-align: justify;
}

div.one-icon {
    width: var(--home-one-grid-icon-size);
    height: var(--home-one-grid-icon-size);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    transition: margin-bottom 200ms ease-in;
}

.one-icon:hover {
    margin-bottom: var(--home-one-grid-icon-hover-margin-bottom);
}

div.two-grid-outer {
    display: grid;
    grid-template-columns: var(--home-two-grid-outer-template-columns);
    margin-top: var(--home-two-grid-outer-margin-top);
    margin-bottom: 70px;
}

div.two-text-grid-outer {
    display: grid;
    grid-template-columns: 1fr;
    align-self: end;
    grid-column: var(--home-two-text-grid-column);
}

div.home-two-title {
    font-weight: 400;
    font-size: 28px;
    color: var(--home-color-title);
    letter-spacing: 1.75px;
    line-height: 42px;
    margin-bottom: 20px;
}

div.home-two-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--home-color-text);
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: var(--home-one-grid-margin-bottom);
}

div.home-two-column {
    display: block;
    padding-left: var(--space-standard);
    padding-right: var(--space-standard);
}

div.home-two-item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--home-color-title);
    margin-bottom: 23px;
    letter-spacing: 0.7px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

div.home-two-item-text {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 0px !important;
}

div.home-two-item {
    width: var(--home-two-item-width);
    height: var(--home-two-item-height);
    display: block;
    background-image: linear-gradient(127deg, var(--color-bg-1) 0%, var(--color-bg-1) 91%);
    box-shadow: var(--home-two-item-box-shadow);
    font-weight: 400;
    font-size: 14px;
    color: var(--home-color-text);
    line-height: 26px;
    letter-spacing: 0.88px;
    padding: 30px;
    border-radius: 40px;
    border-bottom-right-radius: 4px;
    margin-top: var(--home-two-item-margin-top-default);
    box-sizing: border-box;
    cursor: pointer;
}

.home-two-item.highlighted {
    background-image: linear-gradient(127deg, var(--logo-darkest) 0%, var(--logo-lightest) 91%);
    color: var(--color-bg-1);
}

.home-two-item.highlighted .home-two-item-title {
    color: var(--color-bg-1);
}

.home-two-item.highlighted>svg>defs>linearGradient>stop {
    stop-color: var(--color-bg-1);
}

.home-two-item.first {
    margin-top: var(--home-two-item-first-margin-top);
}

svg.home-two-item-icon {
    width: var(--general-icon-service-size);
    height: var(--general-icon-service-size);
    margin-bottom: 23px;
}

.home-two-item.dummy:hover {
    background-image: linear-gradient(127deg, var(--logo-darkest) 0%, var(--logo-lightest) 91%);
    color: var(--color-bg-1);
}

.home-two-item.dummy:hover .home-two-item-title {
    color: var(--color-bg-1);
}

.home-two-item.dummy:hover .hsc-stop-1 {
    stop-color: var(--color-bg-1);
}

.home-two-item.dummy:hover .hsc-stop-2 {
    stop-color: var(--color-bg-1);
}

div.home-three {
    background-color: var(--home-three-color-background);
    position: relative;
}

svg.home-three-background-overlay {
    width: 100%;
    height: auto;
    transform: scale(-1, -1);
    position: absolute;
    top: 0px;
}

.general-content-grid.home-three {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: transparent;
}

div.home-three-grid-outer {
    display: grid;
    grid-template-columns: var(--home-three-grid-outer-template-columns);
}

img.home-three-image {
    width: var(--home-three-image-width);
    grid-row: var(--home-three-image-grid-row);
    justify-self: center;
    align-self: center;
}

div.home-three-grid-item {
    display: grid;
    grid-template-columns: 70px 1fr;
    margin-left: var(--home-three-grid-item-margin-left);
    margin-bottom: var(--home-one-grid-margin-bottom);
}

div.home-three-item-letter {
    width: 37px;
    height: 37px;
    line-height: 37px;
    color: var(--color-button-1);
    border: 1px solid;
    border-color: var(--color-button-1);
    border-radius: 50%;
    justify-self: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.home-three-item-letter:hover {
    color: var(--color-button-2);
    background-color: var(--color-button-1);
}

div.home-three-item-title {
    line-height: 37px;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    letter-spacing: 1px;
    color: var(--home-color-title);
}

svg.home-three-item-listing {
    margin-top: 24px;
    justify-self: center;
}

div.home-three-item-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--home-color-text);
    letter-spacing: 1px;
    line-height: 28px;
    margin-top: 24px;
}

div.home-four {
    display: grid;
    grid-template-columns: var(--home-four-grid-template-columns);
    padding-top: 100px;
    padding-bottom: 70px;
}

div.home-four-title {
    font-weight: 400;
    font-size: 30px;
    color: var(--home-color-text);
    letter-spacing: 1.30px;
    line-height: 40px;
    margin-bottom: 20px !important;
    text-align: center;
    justify-self: center;
    grid-column: var(--home-four-text-grid-column);
}

div.home-four-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--home-color-text);
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    grid-column: var(--home-four-text-grid-column);
    text-align: center;
    justify-self: center;
}

div.home-four-grid-item {
    width: var(--home-four-grid-item-width);
    display: grid;
    grid-template-columns: 85px auto;
    grid-template-rows: auto auto;
    justify-self: center;
    background-image: linear-gradient(127deg, var(--color-bg-1) 0%, var(--color-bg-1) 91%);
    box-shadow: var(--home-two-item-box-shadow);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 40px;
    border-bottom-right-radius: 4px;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.home-four-grid-item:hover {
    background-image: linear-gradient(127deg, var(--logo-darkest) 0%, var(--logo-lightest) 91%);
    color: var(--color-bg-1);
}

.home-four-grid-item:hover .home-four-grid-item-name {
    color: var(--color-bg-1);
}

div.home-four-grid-item-image {
    width: 100%;
    height: 78px;
    grid-row: auto / span 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div.home-four-grid-item-intro {
    margin-left: 8px;
}

div.home-four-grid-item-name {
    font-weight: 400;
    font-size: 14px;
    color: var(--home-color-title);
    letter-spacing: 0.6px;
    margin-top: 3px;
    margin-bottom: 5px;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

div.home-four-grid-item-title {
    display: block;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.52px;
}

div.home-four-grid-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.6px;
    grid-column: auto / span 2;
}

div.home-five {
    width: 100%;
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-bg-1);
}

div.home-five-overlay {
    width: 100%;
    height: 100%;
    background-image: var(--home-five-overlay);
    margin-bottom: 100px;
}

div.home-five-grid {
    display: grid;
    grid-template-columns: var(--home-five-grid-template-columns);
    grid-template-rows: var(--home-five-grid-template-rows);
}

div.home-five-grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: var(--home-five-grid-item-template-rows);
}

.home-five-grid-item.last {
    grid-template-rows: var(--home-five-grid-item-template-rows-last);
}

div.home-five-grid-item-filler {
    width: 100%;
}

.home-five-grid-item-filler.has-border {
    border-right: 1px solid;
    border-color: var(--color-bg-1);
}

div.home-five-grid-item-info {
    grid-column: auto / span 2;
    text-align: center;
    justify-self: center;
    align-self: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.home-five-grid-item-info:hover {
    margin-bottom: 20px;
}

div.home-five-grid-item-value {
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1.72px;
    margin-bottom: 10px;
}

div.home-five-grid-item-name {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.86px;
}