:root {
    /* Common */
    /* Mobile */
    /* Mobile Light mode */
    --home-banner-overlay-color: linear-gradient(90deg, #384EFFD8 0%, #24CDFFD8 100%);
}

@media only screen and (max-width: 450px) {
     :root {
        /* Mobile small screen */
        --temp: white;
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        /* Mobile Dark mode */
        --home-banner-overlay-color: linear-gradient(90deg, #FB7D2FD8 0%, #FBE11CD8 100%);
    }
}

@media only screen and (min-width: 900px) {
     :root {
        /* Desktop */
        --temp: white;
    }
    @media (prefers-color-scheme: light) {
         :root {
            /* DesktopLight mode */
            --temp: white;
        }
    }
    @media (prefers-color-scheme: dark) {
         :root {
            /* Desktop Dark mode */
            --temp: white;
        }
    }
}

div.home-banner {
    width: 100%;
    height: 637px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.home-banner-color-overlay {
    width: 100%;
    height: 100%;
    background-image: var(--home-banner-overlay-color);
}

svg.home-banner-image-overlay {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    /* -1px to cover up the last line of the bg image */
    bottom: -1px;
}