:root {
    /* Common */
    --menu-top-animation-toggle-time: 400ms;
    /* Mobile */
    --menu-top-outer-grid-template-columns: 1fr;
    --menu-top-outer-grid-template-rows: 80px 50px 50px 50px 50px 50px 50px;
    --menu-top-outer-bg-color: var(--color-bg-1);
    --menu-top-color: var(--color-neutral);
    --menu-top-button-toggle-display: block;
    --menu-top-outer-left: 0px;
    --menu-top-outer-transform: '';
    /* Mobile Light mode */
    --menu-top-logo: url(../res/img/logo_light.png);
    --home-banner-overlay-color: linear-gradient(90deg, #384EFFD8 0%, #24CDFFD8 100%);
}

@media (prefers-color-scheme: dark) {
     :root {
        /* Mobile Dark mode */
        --menu-top-logo: url(../res/img/logo_dark.png);
        --menu-top-color: var(--color-bright-dark-mode);
        --home-banner-overlay-color: linear-gradient(90deg, #FB7D2FD8 0%, #FBE11CD8 100%);
    }
}

@media only screen and (min-width: 600px) {
     :root {
        /* Desktop */
        --menu-top-outer-grid-template-columns: 40% auto auto auto auto auto auto;
        --menu-top-outer-grid-template-rows: 1fr;
        --menu-top-outer-bg-color: transparent;
        --menu-top-button-toggle-display: none;
        --menu-top-outer-left: 50%;
        --menu-top-outer-transform: translateX(-50%);
    }
    @media (prefers-color-scheme: light) {
         :root {
            /* DesktopLight mode */
            --menu-top-color: var(--color-bright);
        }
    }
    @media (prefers-color-scheme: dark) {
         :root {
            /* Desktop Dark mode */
            --menu-top-color: var(--color-dark);
        }
    }
}

div.menu-top-outer {
    max-width: 1140px;
    width: 100%;
    height: 80px;
    color: var(--menu-top-color);
    background-color: var(--menu-top-outer-bg-color);
    display: grid;
    grid-template-columns: var(--menu-top-outer-grid-template-columns);
    grid-template-rows: var(--menu-top-outer-grid-template-rows);
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: var(--menu-top-outer-left);
    transform: var(--menu-top-outer-transform);
    overflow: hidden;
    box-sizing: border-box;
    padding-left: var(--space-standard);
    padding-right: var(--space-standard);
}

div.menu-top-logo-outer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr 40px;
}

div.menu-top-logo-logo {
    box-sizing: border-box;
    width: 24px;
    height: 40px;
    background-image: var(--menu-top-logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    cursor: pointer;
}

div.menu-top-logo-name {
    min-width: 180px;
    box-sizing: border-box;
    justify-self: start;
    align-self: center;
    font-size: 24px;
    font-weight: 700;
    margin-left: var(--space-standard);
    cursor: pointer;
}

svg.menu-top-mobile-button-toggle {
    justify-self: end;
    align-self: center;
    cursor: pointer;
    display: var(--menu-top-button-toggle-display);
}

div.menu-top-item {
    font-size: 14px;
    font-weight: 700;
    align-self: center;
    justify-self: start;
    text-align: center;
    cursor: pointer;
}

.menu-top-item.contact {
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 2px solid var(--menu-top-color);
    border-radius: 18px;
    justify-self: end;
}