:root {
    /* Common */
    --menu-top-animation-toggle-time: 400ms;
    /* Mobile */
    --menu-top-item-height: 50px;
    --menu-top-outer-grid-template-columns: 1fr;
    --menu-top-outer-grid-template-rows: 80px repeat(6, var(--menu-top-item-height));
    --menu-top-outer-height: 80px;
    --menu-top-outer-height-show: 380px;
    --menu-top-grid-bg-color: var(--color-bg-1);
    --menu-top-color: var(--color-neutral);
    --menu-top-button-toggle-display: block;
    --menu-top-item-filler-display: block;
    --menu-top-inner-grid-template-columns: auto 80% auto;
    --menu-top-item-padding: var(--space-standard);
    /* Mobile Light mode */
    --menu-top-logo: url(../res/img/logo_light.png);
    --menu-top-item-bg-color: var(--color-bg-1);
    --menu-top-item-border-color: var(--color-grey-light);
    --menu-top-outer-box-shadow: var(--general-box-shadow-dark);
}

@media only screen and (max-width: 450px) {
     :root {
        /* Mobile small screen */
        --menu-top-inner-grid-template-columns: var(--space-standard) 1fr var(--space-standard);
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        /* Mobile Dark mode */
        --menu-top-logo: url(../res/img/logo_dark.png);
        --menu-top-color: var(--color-bright-dark-mode);
        --menu-top-item-border-color: var(--color-grey-dark);
        --menu-top-outer-box-shadow: var(--general-box-shadow-light);
    }
}

@media only screen and (min-width: 900px) {
     :root {
        /* Desktop */
        --menu-top-outer-grid-template-columns: 40% repeat(6, auto);
        --menu-top-outer-grid-template-rows: 1fr;
        --menu-top-outer-height: 100px;
        --menu-top-outer-height-show: 100px;
        --menu-top-grid-bg-color: transparent;
        --menu-top-button-toggle-display: none;
        --menu-top-item-filler-display: none;
        --menu-top-item-height: 36px;
        --menu-top-item-bg-color: transparent;
        --menu-top-inner-grid-template-columns: auto 1fr auto;
        --menu-top-item-padding: 0px;
        --menu-top-item-border-color: transparent;
        --menu-top-outer-padding: calc(2 * var(--space-standard));
        --menu-top-outer-box-shadow: none;
    }
    .menu-top-item.contact {
        width: 140px;
        border: 2px solid;
        border-color: var(--menu-top-color);
        border-radius: 100px;
        justify-content: center;
        text-align: center;
        box-sizing: content-box;
    }
    .contact:hover {
        color: var(--color-blue);
        background-color: var(--menu-top-color) !important;
    }
    @media (prefers-color-scheme: light) {
         :root {
            /* DesktopLight mode */
            --menu-top-color: var(--color-bright);
        }
        .menu-top-outer.desktop-scroll {
            height: 80px !important;
            background-color: var(--color-bright);
            color: var(--color-neutral);
            box-shadow: var(--general-box-shadow-dark);
        }
        .menu-top-item.contact.desktop-scroll {
            color: var(--color-blue);
            border: 1px solid;
            border-color: var(--color-blue);
        }
        .menu-top-item.contact.desktop-scroll:hover {
            background-color: var(--color-blue) !important;
            color: var(--color-bright);
        }
    }
    @media (prefers-color-scheme: dark) {
         :root {
            /* Desktop Dark mode */
            --menu-top-color: var(--color-dark);
        }
        .contact:hover {
            color: var(--color-bright-dark-mode);
        }
        .menu-top-outer.desktop-scroll {
            height: 80px !important;
            background-color: var(--color-dark);
            color: var(--color-bright-dark);
            box-shadow: var(--general-box-shadow-light);
        }
        .menu-top-item.contact.desktop-scroll {
            color: var(--color-yellow-dark);
            border: 1px solid;
            border-color: var(--color-yellow-dark);
        }
        .menu-top-item.contact.desktop-scroll:hover {
            background-color: var(--color-yellow-dark) !important;
            color: var(--color-bright-dark);
        }
    }
}

div.menu-top-outer {
    width: 100%;
    height: var(--menu-top-outer-height);
    color: var(--menu-top-color);
    background-color: transparent;
    position: fixed;
    top: 0px;
    overflow: hidden;
    box-sizing: border-box;
    transition: none;
    box-shadow: var(--menu-top-outer-box-shadow);
}

.menu-top-outer.show {
    height: var(--menu-top-outer-height-show);
    transition: height 400ms ease-in-out;
    box-shadow: none;
}

.menu-top-outer.hide {
    height: var(--menu-top-outer-height);
    transition: height 400ms ease-in-out;
    box-shadow: none;
}

div.menu-top-grid-outer {
    height: 100%;
    max-width: var(--content-max-width);
    display: grid;
    grid-template-columns: var(--menu-top-outer-grid-template-columns);
    grid-template-rows: var(--menu-top-outer-grid-template-rows);
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--menu-top-outer-padding);
    padding-right: var(--menu-top-outer-padding);
}

div.menu-top-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--menu-top-inner-grid-template-columns);
    overflow: hidden;
    box-sizing: border-box;
}

div.menu-top-logo-outer {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr 40px;
    background-color: var(--menu-top-grid-bg-color);
    padding-left: calc(2 * var(--menu-top-item-padding));
    padding-right: var(--menu-top-item-padding);
}

div.menu-top-logo-logo {
    box-sizing: border-box;
    width: 24px;
    height: 40px;
    background-image: var(--menu-top-logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    cursor: pointer;
}

div.menu-top-logo-name {
    min-width: 180px;
    box-sizing: border-box;
    justify-self: start;
    align-self: center;
    font-size: 24px;
    font-weight: 700;
    margin-left: var(--space-standard);
    cursor: pointer;
}

svg.menu-top-mobile-button-toggle {
    justify-self: end;
    align-self: center;
    cursor: pointer;
    display: var(--menu-top-button-toggle-display);
}

div.menu-top-item {
    width: 100%;
    height: var(--menu-top-item-height);
    line-height: var(--menu-top-item-height);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background: var(--menu-top-item-bg-color);
    box-sizing: border-box;
    padding-left: calc(2 * var(--menu-top-item-padding));
    border-bottom: 1px solid;
    border-color: var(--menu-top-item-border-color);
    align-self: center;
}

.menu-top-item:hover {
    background-color: var(--menu-top-item-border-color);
}

div.menu-top-item-filler {
    display: var(--menu-top-item-filler-display);
}

.menu-top-item-filler.first-row {
    background-color: var(--menu-top-item-bg-color);
}

.menu-top-item.inactive {
    cursor: default;
    text-decoration: underline;
    text-underline-offset: 4px;
}